@model ProjetoBackend.Models.Fornecedor

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid text-center my-4">
    <img class="img-fluid" src="~/img/jaketa-white.png" width="397" height="132" />
</div>

<div class="container text-light">
    <div class="text-center">
        <h3>Você tem certeza que quer deletar o seguinte cadastro?</h3>
        <dl class="row justify-content-center d-flex">
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.CnpjCpf)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CnpjCpf)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Celular)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Celular)
            </dd>
        </dl>
    </div>


    <form asp-action="Delete">
        <div class="justify-content-center align-items-center d-flex">

            <div class="col col-md-4 mt-4 ms-5 me-5">
                <div class="form-group">
                    <input type="submit" value="Apagar" class="btn btn-danger w-100" />
                </div>
            </div>
            <div class="col-2 col-md-4 mt-4 me-5">
                <a class="btn btn-outline-secondary w-100" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </form>
</div>
<!--

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
@Html.DisplayNameFor(model => model.CnpjCpf)
        </dt>
        <dd class = "col-sm-10">
@Html.DisplayFor(model => model.CnpjCpf)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FornecedorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
-->
