@model ProjetoBackend.Models.Produto

@{
    ViewData["Title"] = "Apagar";
}

<div class="container-fluid text-center my-4">
    <img class="img-fluid" src="~/img/jaketa-white.png" width="397" height="132" />
</div>

<div class="container text-light">
    <div class="text-center">
        <h3>Você tem certeza que quer deletar o seguinte cadastro?</h3>
        <dl class="row justify-content-center d-flex">
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CodigoProduto)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Estoque)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estoque)
            </dd>

            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>
        </dl>
    </div>


    <form asp-action="Delete">
        <div class="justify-content-center align-items-center d-flex">

            <div class="col-4 mt-4 ms-sm-1 me-sm-1 ms-xl-5 me-xl-5">
                <div class="form-group">
                    <input type="submit" value="Apagar" class="btn btn-danger w-100" />
                </div>
            </div>
            <div class="col-4 mt-4 ms-sm-1 me-sm-1 ms-xl-5 me-xl-5">
                <a class="btn btn-outline-secondary w-100" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </form>
</div>
