@model ProjetoBackend.Models.Venda

@{
    ViewData["Title"] = "Nova Venda";
    Venda vendaAtual = (Venda)ViewData["vendaAtual"];
    List<ItemVenda> itens = (List<ItemVenda>)ViewData["listaItens"];
    List<ServicoVenda> servicos = (List<ServicoVenda>)ViewData["listaServicos"];

}


<div class="container text-light principal">

    @if (vendaAtual == null)
    {
        <h5 class="display-5 text-center">Nova Venda</h5>
        <h5 class="lead text-center">Selecione o cliente para iniciar a venda! </h5>

        <form asp-action="Create" method="post" id="formCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="NotaFiscal" class="form-control" />

            <input type="hidden" asp-for="DataVenda" value=@DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss") class="form-control" />

            <input type="hidden" asp-for="ValorTotal" class="form-control" value="0.00" />



            <div class="row gap-3">
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Buscar Clientes
                    </button>
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <select asp-for="ClienteId" id="clienteId"
                                class="form-control"
                                asp-items="ViewBag.ClienteId"
                                onchange="this.form.submit()">
                            @if (vendaAtual != null)
                            {
                                <option value=@vendaAtual.ClienteId>@vendaAtual.Cliente.Nome</option>
                            }
                            <option selected>Selecione um Cliente...</option>
                        </select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    }


    @if (vendaAtual != null)
    {

        <div class="row mt-1 mb-2 h-15">
            <div class="col-3 border border-1 border-light pt-1 px-4">
                <img class="img-fluid" src="~/img/jaketa-white.png" />
            </div>

            <div class="col ps-5 border border-1 border-light pt-2">
                <p class="fs-5 m-0 mb-1">Data: <span class="fw-bold fs-3">@vendaAtual.DataVenda</span></p>
                <p class="fs-5">Cliente: <span class="fw-bold fs-3"> @vendaAtual.Cliente.Nome </span></p>
            </div>

            <div class="col-2 border border-1 border-light pt-2">
                <p class="fs-5 m-0 mb-1 text-center">Venda</p>
                <p class="text-center"><span class="fw-bold fs-1">@vendaAtual.NotaFiscal</span></p>
            </div>

        </div>

        <!--

        -->

        <div class="row border border-1 border-light p-3 mb-2 h-35 overflow-auto">
            <div id="produtosVenda" class="">
                <div class="row ">
                    <div class="col-12 mb-3 ">
                        <p class="lead text-center">Incluir Produtos</p>
                        <div class="formProdutos">
                            <form asp-action="AddProduto" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input name="VendaId" type="hidden" class="form-control" value=@vendaAtual.VendaId />
                                <div class="row">

                                    <div class="col-2">
                                        <div class="form-group">
                                            <input name="Quantidade" id="Quantidade" placeholder="Quantidade" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" list="produtoDatalist" id="produtoInput" name="ProdutoId" placeholder="Digite para buscar...">
                                            <datalist id="produtoDatalist">
                                                @foreach (var produto in ViewBag.ProdutoId)
                                                {
                                                    <option value="@produto.Text">@produto.Text</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <input name="ValorUnitario" id="ValorUnitario" placeholder="R$ Unitário" type="number" step="0.01" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <input name="ValorTotalP" id="ValorTotalP" placeholder="R$ Total" type="number" step="0.01" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Adicionar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    @if (itens != null)
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <span>Venda</span>
                                        </th>
                                        <th>
                                            <span>Produto</span>
                                        </th>
                                        <th>
                                            <span>Quantidade</span>
                                        </th>
                                        <th>
                                            <span>Valor Unitario</span>
                                        </th>
                                        <th>
                                            <span>Valor Total</span>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in itens)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Venda.NotaFiscal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Produto.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantidade)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorUnitario)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorTotal)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ItemVendaId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ItemVendaId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ItemVendaId">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row border border-1 border-light p-3 mb-2 h-35 overflow-auto">

            <div id="ServicosVenda" class="">
                <div class="row">
                    <div class="col-12 mb-3 ">
                        <p class="lead text-center">Incluir Serviços</p>
                        <div class="formProdutos">

                            <form asp-action="AddServico" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input name="VendaIdS" type="hidden" class="form-control" value=@vendaAtual.VendaId />

                                <div class="row">
                                    <div class="col-1">
                                        <div class="form-group">
                                            <input name="QuantidadeS" id="QuantidadeS" placeholder="Quantidade" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" list="servicoDatalist" id="servicoInput" name="ServicoId" placeholder="Digite para buscar...">
                                            <datalist id="servicoDatalist">
                                                @foreach (var servico in ViewBag.ServicoId)
                                                {
                                                    <option value="@servico.Text">@servico.Text</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input name="ValorServico" id="ValorServico" placeholder="R$ Serviço" type="number" step="0.01" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input name="ValorTotalS" id="ValorTotalS" placeholder="R$ Total" type="number" step="0.01" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <input name="Observacao" id="Observacao" placeholder="Observação" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-1">
                                        <div class="form-group">
                                            <input type="submit" value="Adicionar" class="btn btn-primary w-100" />
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <span>Quantidade</span>
                                    </th>
                                    <th>
                                        <span>Serviço</span>
                                    </th>
                                    <th>
                                        <span>Valor Serviço</span>
                                    </th>
                                    <th>
                                        <span>Valor Total</span>
                                    </th>
                                    <th>Observação</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in servicos)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantidade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Servico.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Servicocusto)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValorTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Observacao)
                                        </td>

                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ServicoVendaId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ServicoVendaId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ServicoVendaId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="totalVenda">
            <div class="row border border-1 border-light p-0 h-10">
                <div class="col-6 pt-3">
                    <p class="fs-4">
                        Total da Venda:
                        <span class="fw-bold">@String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:C}", vendaAtual.ValorTotal)</span>
                    </p>
                </div>
                <div class="col pt-3">
                    <button type="button" onclick="imprimirVenda('@vendaAtual.VendaId')" class="btn btn-outline-light w-100">Imprimir</button>

                    <script>
                        function imprimirVenda(id) {
                            // URL da PartialView que será renderizada
                            var url = '/Vendas/ImprimirVenda/' + id ; // Substitua pelo caminho correto na sua aplicação
                                            var novaJanela = window.open(
                            url,
                            '_blank',
                            'toolbar=no,scrollbars=yes,resizable=yes,top=100,left=100,width=1024,height=800'
                        );
                        }
                    </script>

                </div>
                <div class="col pt-3">
                    <a asp-action="Index" class="btn btn-primary w-100">Finalizar Venda</a>
                </div>
            </div>
        </div>
    }
</div>




<!-- Modal para Seleção de Cliente -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteModalLabel">Selecionar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="search-container">
                    <form id="form-busca-cliente" class="d-flex">
                        <input class="search-input" type="text" name="nome" id="nome" placeholder="Procurar..." />
                        <button type="button" id="btn-buscar-cliente" class="btn search-button">
                            <ion-icon name="search"></ion-icon>
                        </button>
                    </form>
                </div>

                <table class="table table-hover" id="clienteTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody id="clienteTableBody">
                        <!-- Inicialmente vazio, preenchido via AJAX -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }


}
