@model IEnumerable<ProjetoBackend.Models.Venda>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid text-center my-4">
    <img class="img-fluid" src="../img/jaketa-white.png" width="397" height="132" />
</div>


<h1 class="text-light text-center">Vendas:</h1>
<hr />
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a asp-action="Create" class="btn text-black btn-adicionar">Adicionar</a>
        </div>
        <div class="search-container">
            <form asp-action="Search" method="get" class="d-flex">
                <input class="search-input" type="text" name="nome" placeholder="Procurar..." />
                <button type="submit" class="btn search-button"><ion-icon name="search"></ion-icon></button>
            </form>
        </div>
    </div>

    <div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th>
                            @Html.DisplayNameFor(model => model.NotaFiscal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataVenda)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ValorTotal)
                        </th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NotaFiscal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataVenda)
                            </td>
                            <td>
                                @String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:C}", item.ValorTotal)
                            </td>
                            <td>
                                <div class="dropdown">
                                    <ion-icon name="ellipsis-horizontal-outline" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    </ion-icon>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.VendaId">Apagar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@* <h1>Index</h1> *@

@* <p> *@
@*     <a asp-action="Create">Create New</a> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 *@
@*             </th> *@
@*             <th> *@
@*                 *@
@*             </th> *@
@*             <th> *@
@*                 *@
@*             </th> *@
@*             <th> *@
@*                  *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in Model) *@
@*         { *@
@*             <tr> *@
@*                 <td> *@
@*                     *@
@*                 </td> *@
@*                 <td> *@
@*                     *@
@*                 </td> *@
@*                 <td> *@
@*                     *@
@*                 </td> *@
@*                 <td> *@
@*                     *@
@*                 </td> *@
@*                 <td> *@
@*                     <a asp-controller="ItensVendas" asp-action="Index" asp-route-id="@item.VendaId">Produtos</a> | *@
@*                     <a asp-controller="ServicosVendas" asp-action="Index" asp-route-id="@item.VendaId">Serviços</a> | *@
@*                     <a asp-action="Edit" asp-route-id="@item.VendaId">Edit</a> | *@
@*                     <a asp-action="Details" asp-route-id="@item.VendaId">Details</a> | *@
@*                     <a asp-action="Delete" asp-route-id="@item.VendaId">Delete</a> *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@
